<footer class="footer">
  <small>
    <a>MY BLOG</a>
    by <a href="https://www.facebook.com/kunche.ni">KunCheNI</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
